<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="@mparticle/cordova-rokt-payment-extension"
           version="3.0.0">
    <name>MParticle Rokt Payment Extension Kit</name>
    <description>Adds Rokt payment extension support (Apple Pay, AfterPay/Clearpay, PayPal via Stripe) to your Cordova project</description>
    <platform name="ios">
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="RoktPaymentExtension" spec="~> 2.0" />
            </pods>
        </podspec>
    </platform>
</plugin>
