<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="@mparticle/cordova-sdk"
           version="3.0.0">
    <name>MParticle</name>
    <js-module src="www/mparticle.js" name="mparticle">
        <clobbers target="mparticle" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MParticle" >
                <param name="android-package" value="com.mparticle.cordova.MParticleCordovaPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/src/main/java/com/mparticle/cordova/MParticleCordovaPlugin.java" target-dir="src/android/src/main/java/com/mparticle/cordova/MParticleCordovaPlugin.java" />
        <framework src="com.mparticle:android-core:5.71.0"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MParticle">
                <param name="ios-package" value="CDVMParticle"/>
            </feature>
        </config-file>
        <source-file src="src/ios/CDVMParticle.m" />
        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="mParticle-Apple-SDK" spec="8.37.1" />
            </pods>
        </podspec>
    </platform>
</plugin>
