name: Create draft release

on:
  workflow_dispatch: # checkov:skip=CKV_GHA_7
    inputs:
      bump-type:
        description: Specify if the version should be bumped as major, minor, patch
        required: true
        type: choice
        options:
          - major
          - minor
          - patch

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  publish-draft-release:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #6.0.0
        with:
          node-version: 22

      - name: Get current version
        id: version-file
        run: |
          version_from_file=$(head -n 1 VERSION)
          echo "release-version=$version_from_file" >> $GITHUB_OUTPUT

      - name: Bump version
        id: bump-version
        uses: actions-ecosystem/action-bump-semver@34e334551143a5301f38c830e44a22273c6ff5c5 # v1.0.0
        with:
          current_version: ${{ steps.version-file.outputs.release-version }}
          level: ${{ github.event.inputs.bump-type || 'patch' }}

      - name: Save validated version to file
        run: |
          echo "${{ steps.bump-version.outputs.new_version }}" > VERSION

      - name: NPM Install and Build
        working-directory: plugin
        run: npm ci; npm run build --if-present

      - name: Test Plugin
        working-directory: plugin
        run: npm test

      - name: Update Plugin package.json
        working-directory: plugin
        run: |
          npm version ${{ steps.bump-version.outputs.new_version }} --no-git-tag-version

      - name: Update Rokt Kit package.json
        working-directory: Kits/Rokt
        run: |
          npm version ${{ steps.bump-version.outputs.new_version }} --no-git-tag-version

      - name: Publish Plugin to npm (dry-run)
        working-directory: plugin
        run: npm publish --dry-run

      - name: Publish Rokt Kit to npm (dry-run)
        working-directory: Kits/Rokt
        run: npm publish --dry-run

      - name: Update changelog
        uses: thomaseizinger/keep-a-changelog-new-release@f62c3c390716df5af712ba5d94f4f4a8efc1306d # v3.1.0
        with:
          tag: ${{ steps.bump-version.outputs.new_version }}
          changelogPath: CHANGELOG.md

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.SDK_RELEASE_GITHUB_APP_ID }}
          private-key: ${{ secrets.SDK_RELEASE_GITHUB_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            cordova-plugin-mparticle

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: 'Prepare release ${{ steps.bump-version.outputs.new_version }}'
          branch: release/${{ steps.bump-version.outputs.new_version }}
          title: 'Prepare release ${{ steps.bump-version.outputs.new_version }}'
          base: main
          body: |
            Preparing for release ${{ steps.bump-version.outputs.new_version }}

            There should be 4 files that have been updated:
            - plugin/package.json
            - Kits/Rokt/package.json
            - CHANGELOG.md
            - VERSION

            Additionally a dry-run publish was successfully run for the plugin and Rokt kit.
          labels: |
            release
