name: Build and Test
on: [workflow_dispatch, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read
  checks: write
  id-token: write

jobs:
  js-test:
    name: JS Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugin
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: "NPM Build"
        run: npm ci; npm run build --if-present
      - name: "NPM Test"
        run: npm test
  android-test:
    name: Android Unit Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./plugin
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v2
      - name: "Install JDK 11"
        uses: actions/setup-java@v2
        with:
          distribution: zulu
          java-version: 11
      - name: Install NPM
        uses: actions/setup-node@v1
      - name: NPM Build
        run: |
          npm ci
          npm run build --if-present
      - name: Run Unit Tests
        run: ./gradlew test

  pr-notify:
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.draft == false
    needs:
      - js-test
      - android-test
    name: Notify GChat
    uses: ROKT/rokt-workflows/.github/workflows/oss_pr_opened_notification.yml@main
    secrets:
      gchat_webhook: ${{ secrets.GCHAT_PRS_WEBHOOK }}
