name: Release NPM

on:
  push:
    branches:
      - main
    paths:
      - VERSION

permissions:
  id-token: write
  contents: write

jobs:
  setup-and-version:
    runs-on: ubuntu-latest
    outputs:
      final_version: ${{ steps.version-file.outputs.release-version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2


      - name: Get current version
        id: version-file
        run: |
          version_from_file=$(head -n 1 VERSION)
          echo "release-version=$version_from_file" >> $GITHUB_OUTPUT

  build-and-release:
    needs: setup-and-version
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #6.0.0
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: Install Plugin dependencies
        working-directory: plugin
        run: npm ci

      - name: Test Plugin
        working-directory: plugin
        run: npm test

      - name: Publish Plugin to npm
        working-directory: plugin
        run: npm publish --access public

      - name: Install Rokt Kit dependencies
        working-directory: Kits/Rokt
        run: npm ci

      - name: Publish Rokt Kit to npm
        working-directory: Kits/Rokt
        run: npm publish --access public

      - uses: ffurrer2/extract-release-notes@202313ec7461b6b9e401996714484690ab1ae105 # v3.0.0
        id: extract-release-notes
        with:
          changelog_file: CHANGELOG.md

      - name: Changelog
        run: echo "${{ steps.extract-release-notes.outputs.release_notes }}"

      - name: Create Github release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          makeLatest: true
          tag: ${{ needs.setup-and-version.outputs.final_version }}
          body: |
            ## Release notes:
            ${{ steps.extract-release-notes.outputs.release_notes }}
